@model ExperienceDetail

<form action="/useraccount/addexperiencedetail" method="post">
    <div class="row mb-2">
        <label class="col-2" for="jobTitle">Job Title:</label>
        <input class="form-control" type="text" id="jobTitle" name="JobTitle" />
    </div>

    <div class="row mb-2">
        <label class="col-2" for="companyName">Company Name:</label>
        <input class="form-control" type="text" id="companyName" name="CompanyName" />
    </div>

    <div class="row mb-2">
        <label class="col-2" for="startDate">Start Date:</label>
        <input class="form-control" type="date" id="startDate" name="StartDate" />
    </div>

    <div class="row mb-2">
        <label class="col-2" for="endDate">End Date:</label>
        <input class="form-control" type="date" id="endDate" name="EndDate" />
    </div>

    <div class="row mb-2">
        <label class="col-2" for="isCurrentJob">Is Current Job:</label>
        <input class="form-control" type="checkbox" id="isCurrentJob" name="IsCurrentJob" />
    </div>

    <div class="row mb-2">
        <label class="col-2" for="jobLocationCity">Job Location City:</label>
        <input class="form-control" type="text" id="jobLocationCity" name="JobLocationCity" />
    </div>

    <div class="row mb-2">
        <label class="col-2" for="jobLocationState">Job Location State:</label>
        <input class="form-control" type="text" id="jobLocationState" name="JobLocationState" />
    </div>

    <div class="row mb-2">
        <label class="col-2" for="jobLocationCountry">Job Location Country:</label>
        <input class="form-control" type="text" id="jobLocationCountry" name="JobLocationCountry" />
    </div>

    <div class="row mb-2">
        <label class="col-2" for="description">Description:</label>
        <texta class="form-control" rea id="description" name="Description"></texta>
    </div>

    <button type="submit">Thêm Chi Tiết Kinh Nghiệm</button>
</form>
